<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.colormaster.game">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.LevelChooser"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LevelEasy"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.LevelSurvival"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.LevelMedium"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.ColorLibrary"
            android:screenOrientation="landscape"/>

    </application>

</manifest>
